{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-4">
            <form action="/tareas/crear/" method="POST" class="card card-body">
                {% csrf_token %}

                <h1 class="text-center">CREAR NUEVA TAREA</h1>

                {{ error }}

                {{ form }}

                <button class="btn btn-primary">
                    Guardar
                </button>

            </form>
        </div>
    </div>
</main>

{% endblock %}