{% extends 'base.html' %}


{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-4 py-5">TAREAS PENDIENTES</h1>

            <ul class="list-group">
                {% for tarea in todas_mis_tareas %}
                    <a class="list-group-item" href="{% url 'detalleTarea' tarea.id %}">
                        <header class="d-flex justify-content-between">
                            {% if tarea.importante %}
                                <h1 class="fw-bold text-success">{{tarea.titulo}}</h1>
                            {% else %}
                                <h1 class="fw-bold">{{tarea.titulo}}</h1>
                            {% endif %}
                            <p>{{tarea.usuario}}</p>
                        </header>
                        <!-- le da el formato a la fecha que tiene el campo -->
                        <p>{{ tarea.fechora_completada|date:'M j Y:i' }}</p>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}